@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x      : hidden;
    background-color: #fff;
    min-height      : 100vh;
}

#header {
    z-index        : 100;
    position       : absolute;
    background     : #210002;
    top            : 0;
    left           : 0;
    width          : 100%;
    padding        : 5px 50px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

#header .logo {
    color          : #ffaf1b;
    font-weight    : 700;
    font-size      : 2em;
    text-decoration: none;
}

#header ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#header ul li {
    list-style : none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding        : 6px 15px;
    color          : #ffaf1b;
}

#header ul li a:hover,
#header ul li a.aktip {
    background-color: #ffaf1b;
    color           : #fff;
    border-radius   : 7px;
}

/* Bowuie channel dan image*/

section {
    position       : relative;
    width          : 100%;
    min-height     : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

section img {
    position      : absolute;
    top           : 0;
    left          : 0;
    bottom        : 0;
    right         : 0;
    width         : 100%;
    height        : 100%;
    object-fit    : cover;
    pointer-events: none;
}

section #text {
    position   : absolute;
    color      : #7a271b;
    font-size  : 7vw;
    line-height: 0.55em;
    text-align : center;
    font-family: 'Fruktur', cursive;
    transform  : translateY(-260%);
}

#btn {
    text-decoration : none;
    display         : inline-block;
    padding         : 8px 30px;
    background-color: #7a271b;
    color           : #ffaf1b;
    font-size       : 1.2em;
    font-weight     : 500;
    letter-spacing  : 2px;
    border-radius   : 40px;
    transform       : translateY(-60px);
}

.sec {
    position  : relative;
    padding   : 100px;
    background: #210002;
    color     : #ffaf1b;
}

.sec h2 {
    font-size    : 3.5em;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1.2em;
}